:root {
    --bg-color: rgba(0, 0, 0, 0.1);
    --text-color: #ffffff;
    --button-width: 70%;
}

@font-face {
    font-family: "Pixel";
    src: url("/CuteImagine/Resources/Font.ttf");
}

.title {
    width: 90%;
    height: auto;
}

body {
    font-family: "Pixel";
    color: var(--text-color);
    text-align: center;
    margin: 0;
    padding: 0;
    animation: backgroundAnimation 20s infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@keyframes backgroundAnimation {
    0% {
        background-image: url('/Pictures/background.png');
    }

    25% {
        background-image: url('/Pictures/background2.png');
    }

    50% {
        background-image: url('/Pictures/background3.png');
    }

    75% {
        background-image: url('/Pictures/background4.png');
    }

    100% {
        background-image: url('/Pictures/background.png');
    }
}

.container {
    max-width: 80%;
    margin: 50% auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
}

.button {
    font-family: "Pixel";
    background-image: url('/Pictures/button.png');
    background-size: 100% 100%;
    border: none;
    color: white;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 2;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 1px;
    transition: background-color 0.3s;
    width: var(--button-width);
    height: 35%;
    white-space: nowrap;
    overflow: hidden;
}

.button:hover {
    background-color: rgba(124, 179, 66, 0.6);
}

.button:active {
    background-image: url('/Pictures/button_highlighted.png');
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 73%;
    margin: 2px auto;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

footer p {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: transparent;
    background: linear-gradient(90deg,
            red, orange, yellow, green, blue, indigo, violet, indigo, blue, green, yellow, orange, red);
    background-size: 1100% auto;
    -webkit-background-clip: text;
    background-clip: text;
    animation: rainbow 3s linear infinite;
    font-weight: bold;
}
